Bigquery Setup

In [ ]:
from google.cloud import bigquery
import pandas as pd
import numpy as pd
import os 

#This project initializes the BigQuery client to establish a connection between the Python application and
# the Google BigQuery
client = bigquery.Client(project='sql-sandbox-435415')

---

Let's preview the first rows and shape of each core table used in this analysis:
- customer_list
- orders
- order_items
- sellers_list

In [14]:
sql_query ="""
SELECT 
*
FROM 
`sql-sandbox-435415.fecom_crm.customer_list`
"""
#LIMIT 10

query_job = client.query(sql_query)
df_customer_list = query_job.to_dataframe()
df_customer_list

,Customer_Trx_ID,Subscriber_ID,Subscribe_Date,First_Order_Date,Customer_Postal_Code,Customer_City,Customer_Country,Customer_Country_Code,Age,Gender
0,66637c0e4a801a4cd3ba72818e7b5b11,35667b792f144ffbcb90d64c5abf26a7,2024-01-30,2024-02-05,AD-AD501,Andorra la Vella,Andorra,AD,18,Female
1,351c4091b6f035cbc49b25c86db368fc,fc6edb96180128815a10afb2297bf552,2022-06-19,2023-03-24,AD-AD503,Andorra la Vella,Andorra,AD,18,Male
2,90f85ef7f6b7f07be42e73c4b8f298b9,4d27b5e8b1dbf35db62bd6891f7fb0fd,2024-03-02,2024-03-05,AT-1010,Vienna,Austria,AT,18,Male
3,35c38243a371dfba016aab0fb4fb0bd6,e8c628af16587ed80263f535a8d95893,2024-07-01,2024-07-12,AT-1010,Vienna,Austria,AT,18,Female
4,fabb645a1aa6ec294fdd9a723e744ee6,d2f4d32a45734d31188beacceeb2d3f6,2022-10-14,2023-10-30,AT-1010,Vienna,Austria,AT,18,Male
...,...,...,...,...,...,...,...,...,...,...
102722,179c7e1bce3651c078ea02b0289d6cdf,6861bf3b9c1de73050f828c913ba3505,2023-02-18,2023-05-01,SI-1101,Ljubljana,Slovenia,SI,74,Female
102723,8ef649ef21b6d9a16b2ddc78c9486b4b,9b51730fa415922803b46fe82216e75d,2024-03-24,2024-04-22,SI-1101,Ljubljana,Slovenia,SI,74,Male
102724,d486c1adfb84aecbc44d77cf332b0cd1,81dd84d8f44d7aac9fa58e473583586a,2023-11-08,2023-11-28,SK-4001,Košice,Slovakia,SK,74,Male
102725,92da31c4d9d81552801e3c1a6194b796,b74deaa44a000da4ce9bf2913cb8e232,2022-09-13,2022-10-10,SK-82102,Bratislava,Slovakia,SK,74,Female
102726,d28e270664958a8f4b2bf7fe8129eb1d,07c33c121e3d2aa03ba8c11d4efe6704,2023-09-09,2023-10-06,SK-82102,Bratislava,Slovakia,SK,74,Male

In [21]:
# customer_list
df_customer_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102727 entries, 0 to 102726
Data columns (total 10 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Customer_Trx_ID        99441 non-null   object
 1   Subscriber_ID          102727 non-null  object
 2   Subscribe_Date         102727 non-null  dbdate
 3   First_Order_Date       99441 non-null   dbdate
 4   Customer_Postal_Code   102727 non-null  object
 5   Customer_City          102727 non-null  object
 6   Customer_Country       102727 non-null  object
 7   Customer_Country_Code  102727 non-null  object
 8   Age                    102727 non-null  Int64
 9   Gender                 102727 non-null  object
dtypes: Int64(1), dbdate(2), object(7)
memory usage: 7.9+ MB

In [22]:
sql_query = """
SELECT *
FROM sql-sandbox-435415.fecom_crm.orders
"""
query_job = client.query(sql_query)
df_orders = query_job.to_dataframe()
df_orders

,Order_ID,Customer_Trx_ID,Order_Status,Order_Purchase_Timestamp,Order_Approved_At,Order_Delivered_Carrier_Date,Order_Delivered_Customer_Date,Order_Estimated_Delivery_Date
0,a2e4c44360b4a57bdff22f3a4630c173,8886130db0ea6e9e70ba0b03d7c0d286,approved,2023-02-06 20:18:00+00:00,2023-02-06 20:30:00+00:00,NaT,NaT,2023-03-01 00:00:00+00:00
1,132f1e724165a07f6362532bfb97486e,b2191912d8ad6eac2e4dc3b6e1459515,approved,2023-04-25 01:25:00+00:00,2023-04-30 20:32:00+00:00,NaT,NaT,2023-05-22 00:00:00+00:00
2,809a282bbd5dbcabb6f2f724fca862ec,622e13439d6b5a0b486c435618b2679e,canceled,2022-09-13 15:24:00+00:00,2022-10-07 13:16:00+00:00,NaT,NaT,2022-09-30 00:00:00+00:00
3,e5215415bb6f76fe3b7cb68103a0d1c0,b6f6cbfc126f1ae6723fe2f9b3751208,canceled,2022-10-22 08:25:00+00:00,NaT,NaT,NaT,2022-10-24 00:00:00+00:00
4,71303d7e93b399f5bcd537d124c0bcfa,b106b360fe2ef8849fbbd056f777b4d5,canceled,2022-10-02 22:07:00+00:00,2022-10-06 15:50:00+00:00,NaT,NaT,2022-10-25 00:00:00+00:00
...,...,...,...,...,...,...,...,...
99436,4cccc0d35e7c7a0dc766ad3c4043e33e,75295919398404a05b83a05a22506b41,unavailable,2024-08-10 09:32:00+00:00,2024-08-10 10:50:00+00:00,NaT,NaT,2024-08-15 00:00:00+00:00
99437,897b4da63b6edde1a33a9fb7caf1dd10,7adb5b6a71b330eb4b3027a470fe74b5,unavailable,2024-07-30 07:38:00+00:00,2024-08-04 23:31:00+00:00,NaT,NaT,2024-08-16 00:00:00+00:00
99438,93881917b8e0f2bf11eec7abbbfe43ec,5c78528de7bc16285f19af96fce88f02,unavailable,2024-08-11 21:38:00+00:00,2024-08-11 21:50:00+00:00,NaT,NaT,2024-08-21 00:00:00+00:00
99439,4bd0d8aa4756f78245bd56015d4ddcc0,a66d945b437e7e8dab012f6172a5beb3,unavailable,2024-08-11 11:56:00+00:00,2024-08-11 12:05:00+00:00,NaT,NaT,2024-08-27 00:00:00+00:00
99440,02de1e44936e56ddc1621c46d86bf91e,c4c369211d1aaab90c8e097f6939dda2,unavailable,2024-08-21 12:21:00+00:00,2024-08-21 12:35:00+00:00,NaT,NaT,2024-08-29 00:00:00+00:00

In [23]:
#df_orders shape:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Order_ID                       99441 non-null  object
 1   Customer_Trx_ID                99441 non-null  object
 2   Order_Status                   99441 non-null  object
 3   Order_Purchase_Timestamp       99441 non-null  datetime64[us, UTC]
 4   Order_Approved_At              99281 non-null  datetime64[us, UTC]
 5   Order_Delivered_Carrier_Date   97658 non-null  datetime64[us, UTC]
 6   Order_Delivered_Customer_Date  96476 non-null  datetime64[us, UTC]
 7   Order_Estimated_Delivery_Date  99441 non-null  datetime64[us, UTC]
dtypes: datetime64[us, UTC](5), object(3)
memory usage: 6.1+ MB

In [24]:
sql_query = """
SELECT *
FROM `sql-sandbox-435415.fecom_crm.order_items`
"""

query_job = client.query(sql_query)
df_order_items = query_job.to_dataframe()
df_order_items

,Order_ID,Order_Item_ID,Product_ID,Seller_ID,Shipping_Limit_Date,Price,Freight_Value
0,3ee6513ae7ea23bdfab5b9ab60bffcb5,1,8a3254bee785a526d548a81a9bc3c9be,96804ea39d96eb908e7c3afdb671bb9e,2024-05-04 03:55:00+00:00,0.85,18.23
1,6e864b3f0ec71031117ad4cf46b7f2a1,1,8a3254bee785a526d548a81a9bc3c9be,96804ea39d96eb908e7c3afdb671bb9e,2024-05-02 20:30:00+00:00,0.85,18.23
2,c5bdd8ef3c0ec420232e668302179113,2,8a3254bee785a526d548a81a9bc3c9be,96804ea39d96eb908e7c3afdb671bb9e,2024-05-07 02:55:00+00:00,0.85,22.30
3,8272b63d03f5f79c56e9e4120aec44ef,2,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2023-07-21 18:25:00+00:00,1.20,7.89
4,8272b63d03f5f79c56e9e4120aec44ef,3,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2023-07-21 18:25:00+00:00,1.20,7.89
...,...,...,...,...,...,...,...
112645,199af31afc78c699f0dbf71fb178d4d4,1,c3ed642d592594bb648ff4a04cee2747,59417c56835dd8e2e72f91f809cd4092,2023-05-09 15:50:00+00:00,4690.00,74.34
112646,a96610ab360d42a2e5335a3998b4718a,1,a6492cc69376c469ab6f61d8f44de961,59417c56835dd8e2e72f91f809cd4092,2023-04-18 13:25:00+00:00,4799.00,151.34
112647,f5136e38d1a14a4dbd87dff67da82701,1,1bdf5e6731585cf01aa8169c7028d6ad,ee27a8f15b1dded4d213a468ba4eb391,2023-06-15 02:45:00+00:00,6499.00,227.66
112648,fefacc66af859508bf1a7934eab1e97f,1,69c590f7ffc7bf8db97190b6cb6ed62e,80ceebb4ee9b31afb6c6a916a574a1e2,2024-08-02 04:05:00+00:00,6729.00,193.21
112649,0812eb902a67711a1cb742b3cdaa65ae,1,489ae2aa008f021502940f251d4cce7f,e3b4998c7a498169dc7bce44e6bb6277,2023-02-16 20:37:00+00:00,6735.00,194.31

In [25]:
df_order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Order_ID             112650 non-null  object
 1   Order_Item_ID        112650 non-null  Int64
 2   Product_ID           112650 non-null  object
 3   Seller_ID            112650 non-null  object
 4   Shipping_Limit_Date  112650 non-null  datetime64[us, UTC]
 5   Price                112650 non-null  float64
 6   Freight_Value        112650 non-null  float64
dtypes: Int64(1), datetime64[us, UTC](1), float64(2), object(3)
memory usage: 6.1+ MB

In [26]:
sql_query = """
SELECT *
FROM `sql-sandbox-435415.fecom_crm.sellers_list`
"""
query_job = client.query(sql_query)
df_sellers_list = query_job.to_dataframe()
df_sellers_list

,string_field_0,string_field_1,string_field_2,string_field_3,string_field_4,string_field_5
0,4dbd95a08b31ede5c82d3f861cb1ce1a,FutureSynergies,AT-1010,Vienna,AT,Austria
1,3ca08eeb8d5595949fed424bd3677742,StratosSolutionsPro,AT-1010,Vienna,AT,Austria
2,76d64c4aca3a7baf218bf93ef7fa768d,GlobalCreators,AT-1010,Vienna,AT,Austria
3,8a2d12a90e92f012ce5226fc6592b653,FlareGlobal,AT-1010,Vienna,AT,Austria
4,933446e9a59dece7ae9175103820ca8f,BluePartners,AT-1010,Vienna,AT,Austria
...,...,...,...,...,...,...
3091,41c2bad7229b0c25e6becf179ebf63ff,LusungiteTower,TR-34360,Istanbul,TR,Turkey
3092,02d35243ea2e497335cd0f076b45675d,GraphiteReef,TR-34728,Istanbul,TR,Turkey
3093,eaaa46e98c9e61f6764dd1d7a2ab8b3e,VisionBlueprints,TR-59000,Tekirdag,TR,Turkey
3094,392f7f2c797e4dc077e4311bde2ab8ce,AccelPartners,TR-59040,Tekirdag,TR,Turkey
3095,52562a9f449c3dc3d53f5f5b9ed74903,DuskPulse,TR-6410,Ankara,TR,Turkey

In [27]:
df_sellers_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3096 entries, 0 to 3095
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   string_field_0  3096 non-null   object
 1   string_field_1  3096 non-null   object
 2   string_field_2  3096 non-null   object
 3   string_field_3  3096 non-null   object
 4   string_field_4  3096 non-null   object
 5   string_field_5  3096 non-null   object
dtypes: object(6)
memory usage: 145.3+ KB